.row{
	padding: 5px 0;
   
	&__column-4{
	width: 100%;float: none;
	padding: 5px 20px 20px 20px;;
	box-sizing: border-box;
	text-align: center;
     

	@mixin atSmall{
	width: 50%;float: left;
	padding: 40px 20px 20px 20px;	 
	}
	
   @mixin atMedium{
	width:25%;float: left;
     
	}
}
 &__padding-b-untill--medium{padding: 5px 20px 15px 20px;
   @mixin atSmall{
   	padding: 40px 20px 20px 20px;
   }

 } 
 

  
}